


body{
    background-color: rgb(255, 255, 255);
    font: normal 18pt Berlin Sans FB Demi black;
    text-align: center;
    margin-top: 80px;
    
    
    
 
 }

 
 header {
    column-rule-style:groove;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    
 }

 